# অপারেটর ইন পাইথন

# Types of Operator:
            1.Arithmetic Operators(+,-,*,/,%,**,//)
            2.Comparison (Relational) Operators
            3.Assignment Operators
            4.Logical Operators
            5.Membership Operators
            6.Identity Operators

# 1.Arithmetic Operators(+,-,*,/,%,**,//)

In [6]:
1.0/2.0

0.5

In [1]:
3**2

9

In [2]:
1.0//2.0

0.0

# 2.Comparison (Relational) Operators(==,!=,>,<,<=,>=)

In [4]:
2!=2

False

In [3]:
a=10
b=20
a==b

False

In [8]:
5<3

False

In [9]:
5<=3

False

# 3.Assignment Operators(=,+=,-=,*=,/=)

In [30]:
a=5
a

5

In [12]:
a=20
a += 2
a

22

In [13]:
a -= 20
a

2

In [14]:
a *= 3
a

6

In [15]:
a /= 2
a

3.0

# 4.Logical Operators(and, or, not)

In [1]:
2 == 2 and 4 == 4 and 5==5

True

In [17]:
2 == 2 and 4 == 6

False

In [19]:
2 == 2 or 5 == 4

True

In [20]:
2 == 0 or 4 == 4

True

In [2]:
not 2 == 3

True

# 5.Membership Operators(in, not in)

In [3]:
a = "Bangladesh"
b = "desh"
b in a

True

In [23]:
b = "mithun"
a in b

False

In [24]:
a not in b

True

# 6.Identity Operators(is, is not)

In [27]:
a = 500
b = 400
a is b

False

In [33]:
a = 1
b = 1
a is b

True

In [5]:
a is not b

True

# End of the Python Operators

# কমেন্ট ইন পাইথন

হ্যাস(#) চিহ্ন ব্যবহার করে কমেন্ট লিখা হয়

In [ ]:
a = 100
# a is an integer variable.

ইনলাইন কমেন্ট

In [34]:
a = 10 # a is a dividend
b = 3 # b is a divisor
a/b

3.3333333333333335

In [35]:
print("I love you Mom # Good choose")

I love you Mom # Good choose

ব্লক কমেন্ট

হ্যাস(#) চিহ্ন ব্যবহার করে প্রতিটি কমেন্ট লিখা হয় । প্রতিটি স্টেট্মেন্ট এর জ্ন্য একটা করে হ্যাস(#) ব্যবহার করা হয়।

In [ ]:
# programming is so easy

# ডকুমেন্ট স্ট্রিং বা ডকস্ট্রিং

In [1]:
"""My name is Mithun Roy
   I am a student.
   The name of our programming language is Python3"""

'My name is Mithun Roy\n   I am a student.\n   The name of our programming language is Python3'